#bio{
    max-height: 768 px;
    width: 100%;
    text-align: center;
    background-color: #e3fdfd;
}

.contact-me{
    text-align: center;
    background-color: #cadefc;
}
.footer-link{
    text-align: center;
}
.bottom-container {
    background-color: #71c9ce;
    text-align: center;
    padding: 50px 0 20px;
  }
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

#me{
    margin-top: 30px;
    height: 150px;
    border-radius: 30%;

}
.icons{
    height: 40px;
}
a{
    margin: 24px;
    text-align: center;
}
h1{
    font-size: 50px;
    font-weight: 500;
    text-align: center;
}
P{
    font-family: Poppins;
      text-align: center;
}
h2 {
    font-size: 48px;
    font-weight: 400;
      text-align: center;
}

h3{
    font-size: 24px;
    font-weight: 400;
      text-align: center;
}
#educationcontent{
    max-height: 768 px;
    width: 100%;
    background-color: #cbf1f5;
    text-align:center;
}
#professioncontent{
    max-height: 768 px;
    width: 100%;
    background-color: #dbe2ef;
    text-align: center;
}
.footer{
    background-color: #2e279d;
    text-align: center;
}
